header.header
	block h1
		.hero-wrap#js-hero
			figure.hero
				img(src="images/spacer.gif" data-src="images/hero_001.jpg").hero__image
		h1.header-bandname
			span.header-bandname__inside SALAD
			span.header-bandname__inside DAZE
