@charset "utf-8";
// ==========================================================================
// 768px 480px 375px 320px
// ==========================================================================
// ==========================================================================
// Foundation
// ==========================================================================
@import "foundation/*";

// ==========================================================================
// Layout
// ==========================================================================
@import "layout/*";

// ==========================================================================
// Object
// ==========================================================================
@import "object/*";

// ==========================================================================
// original
// ==========================================================================
@import "original/*";
.hide {
  display: none;
}
p {
  margin: 0;
}
.article {
  display: block;
  background: #fff;
}

.section {
  display: block;
  padding: 2rem 0;
  margin: 0 0 0;
}
@media screen and (min-width: 980px) {
  .section {
    width: 680px;
    margin: 0 auto;
  }
}
.title {
  display: block;
  padding: 2rem;
  margin: 4rem 0;
  text-align: left;
  font-size: 2.2rem;
}
@media screen and (min-width: 768px) {
  .title {
    margin: 32px 0;
  }
}
